{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edyoda Stories Page</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,400i,600,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,400i,600,900&display=swap" rel="stylesheet">
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <section id="title">

            <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                <a class="navbar-brand" href="{% url 'home' %}">EdYoda Stories</a>
                {% block search_bar %}
                {% endblock %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class = "collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class = "navbar-nav ml-auto" >
                        {% if user.is_authenticated %}
                            <li class= "nav-item" >
                                <a class="nav-link" href="{% url 'detailuser' user.id %}">{{ request.user.username }}</a>
                            </li>
                            <li class= "nav-item" >
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class= "nav-item" >
                                <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                            </li>
                            <li class= "nav-item" >
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                        <li class= "nav-item" >
                            <a class= "nav-link" href = "{% url 'create_new' %}" >Create a Blog</a>
                        </li>
                        <li class= "nav-item" >
                            <a class= "nav-link" href = "{% url 'contact' %}" >Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <div id="bottom-bar">
        <div id="wrap-element">
            <p id="ownership">Made By Rishav Chatterjee</p>
        </div>
    </div>
</html>