        {% extends "blog/base.html"%}
        {% load static %}
        {% block extra_head %}
            <link rel="stylesheet" href="{% static 'blog/css/post-details.css' %}">
        {% endblock %}
        {% block content %}
        <div id="article">
            {% if post.image %}
                <img src="{{post.image.url}}" alt=""/>
            {% else %}
                <img src="https://edyoda.s3.amazonaws.com/media/blog-images/learn-artificial-intelligence.jpeg" alt=""/>
            {% endif %}
            <div class="blog-meta">
                <h1 style="color: black;font-size: 25px;">{{post.title}}</h1>
                <p class="author"> {{post.author.username}} <span class ="date"> | Last Updated: {{post.modified_date}} </span></p>
            </div>
            <div class="blog-content">
                <p>{{post.content | safe }}</p>
            </div>
            <div>
                {% if post.author == user %}
                    <a href="{% url 'update_post' post.slug %}"><button class="update_button">UPDATE</button></a>
                    <a href="{% url 'delete_post' post.slug %}"><button class="delete_button">DELETE</button></a>
                {% endif %}
            </div>
            <hr>
            <div class="author-details">
                <div class="author-pic">
                    <img style="width: 100%; height: 100%;" src="{{post.author.pic.url}}" alt="author pic" />
                </div>
                <div class="author-info">
                    <a href="{% url 'detailuser' post.author_id %}"><p class="author-name">{{post.author.username}}</p></a>
                    <p class="author-bio">Edyoda is an open platform to learn technology and share tech content</p>
                    <p class="date">Created:{{post.created_date}} | Last Updated: {{post.modified_date}}</p>
                </div>
            </div>
            <div class="tag-container">
                <a href="{% url 'category_specific' cat.id %}"><button>{{cat.name}}</button></a>
            </div>
        </div>
        {% endblock %}