{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edyoda Stories Page</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,400i,600,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'blog/css/form-base.css' %}">
        <!-- bootstrap-css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% block extra_head %}
        {% endblock %}
    </head>
    <section id="title">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="{% url 'home' %}">EdYoda Stories</a>
        </nav>
    </section>
    <body>
        <div id="main">
            <div id = "form_body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="bottom-bar">
            <div id="wrap-element">
                <p id="ownership">Made By Rishav Chatterjee</p>
            </div>
        </div>
    </body>
</html>